* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body {
    background-image: url(./assets/bgg_red.avif);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container, .login-container {
    width: 30%;
    background-color: rgb(255, 255, 255, 0.1);
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: -15px 17px 17px rgb(10, 10, 10, 0.25);
    margin: 5.5% auto ;
    padding: 4% 3%;
}

.login-container {
    display: none;
}

.signup_h1 {
    text-align: center;
    margin-bottom: 6%;
    background: linear-gradient(to right, rgb(177, 167, 167), rgb(155, 10, 10));
    background-clip: text;
    color: transparent;
    font-size: 2.5rem;
}

i {
    font-size: 1.2rem;
    color: tomato;
}

input {
    width: 90%;
    margin-bottom: 6%;
    padding: 4%;
    background-color: rgb(179, 174, 174);
    border-radius: 10px;
    border: 1px solid rgb(179, 174, 174);
    font-size: 1rem;
    font-weight: 600
    /* color: ; */
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4%;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: crimson;
    border-radius: 10px;
    border: 1px solid crimson;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(250, 64, 102);
}

.reg_p {
    margin-top: 5%;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
}

.reg_p p {
    color: rgb(179, 174, 174);
}

.logBtn, .signBtn {
    color: crimson;
    font-size: 1.4rem;
    background: none;
    border: transparent;
    cursor: pointer;
}