* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body {
    background-image: url(./assets/bgg_red.avif);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: translate(0%, 8%);
}

.container, .login-container {
    width: 30%;
    background-color: rgb(255, 255, 255, 0.1);
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: -15px 17px 17px rgb(10, 10, 10, 0.25);
    padding: 4% 3%;
}

.login-container {
    display: none;
}

.signup_h1, .login_h1 {
    text-align: center;
    margin-bottom: 6%;
    background: linear-gradient(to right, rgb(177, 167, 167), rgb(155, 10, 10));
    background-clip: text;
    color: transparent;
    font-size: 2.5rem;
}

.input-group {
    position: relative;
}

i {
    font-size: 1.2rem;
    color: rgb(199, 52, 26);
    padding-right: 3%;
    position: absolute;
    right: 0%;
    top: 18%;
}

input {
    width: 100%;
    margin-bottom: 6%;
    padding: 4%;
    background-color: rgb(179, 174, 174);
    border-radius: 10px;
    border: 1px solid rgb(179, 174, 174);
    font-size: 1rem;
    font-weight: 600;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4%;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: crimson;
    border-radius: 10px;
    border: 1px solid crimson;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(250, 64, 102);
}

.reg_p {
    margin-top: 5%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

.reg_p p {
    color: rgb(179, 174, 174);
}

.logBtn, .signBtn {
    color: crimson;
    font-size: 1.2rem;
    background: none;
    border: transparent;
    cursor: pointer;
}

.messageDiv {
    background-color: hsl(327,90%,28%);
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1rem;
    opacity: 0;
    animation: fadeOut 7s forwards;
}


@media screen and (max-width: 1300px) {
    #body {
        transform: translate(0%, 23%);
    }
}

@media screen and (max-width: 1100px) {
    .container, .login-container {
        width: 70%;
        margin: 5.5% auto ;
    }
}


@media screen and (max-width: 800px) {
    #body {
        transform: translate(0%, 16%);
    }
    .container, .login-container {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    .container, .login-container {
        width: 60%;
    }
    .signup_h1, .login_h1  {
        font-size: 2rem;
    }
    .reg_p, .logBtn, .signBtn  {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .container, .login-container {
        width: 85%;
    }
}

@media screen and (max-width: 330px) {
    #body {
        transform: translate(0%, 4%);
    }
}